<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div style="justify-content: center; display: flex;">
            <h2 style=" color: rgb(155, 153, 153);">TRUSTED PARTNERS</h2>
        </div>
        <br>
        <br>
        <div class="row">                
            <div class="col-lg-1 col-md-2 col-sm-2">
                <div class="banner__pic">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="banner__pic">
                    <img src="/images/brand.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="banner__pic">
                    <img src="/images/brand2.jpg" alt="">
                </div>
            </div><div class="col-lg-2 col-md-2 col-sm-2">
                <div class="banner__pic">
                    <img src="/images/brand3.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="banner__pic">
                    <img src="/images/brand4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="banner__pic">
                    <img src="/images/brand5.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->